<div class="main-page-bg p-relative">
    <div *ngIf="showChat" class="toggle-sidenav-container pointer" (click)="toggleLeftSidenav()"
        (mouseenter)="hoverCodeIcon = true" (mouseleave)="hoverCodeIcon = false" [ngClass]="{
            'hide-sidenav-toggle-div': isRightSidenavActive()}">
        <span *ngIf="isLeftSidenavOpen">Workspace-Menü schließen</span>
        <span *ngIf="!isLeftSidenavOpen">Workspace-Menü öffnen</span>
        <img class="code-symbol"
            [src]="hoverCodeIcon ? 'assets/img/icons/code_symbol_purple.png' : 'assets/img/icons/code_symbol.png'"
            [ngStyle]="{ transform: isLeftSidenavOpen ? 'rotate(180deg)' : 'rotate(0)' }">
    </div>

    <app-mainpage-header (openLeftSidenav)="leftSidenav.open()" (closeLeftSidenav)="toggleLeftSidenav()"
        (closeRightSidenav)="rightSidenav.close()"></app-mainpage-header>

    <mat-sidenav-container class="content">

        <mat-sidenav #leftSidenav [mode]="sidenavMode" [(opened)]="isLeftSidenavOpen" position="start" opened="true"
            class="wrapper">
            <app-mainpage-channels class="channel-container f-column" (closeRightSidenav)="rightSidenav.close()"
                (closeLeftSidenav)="leftSidenav.toggle()" (openChat)="toggleChatInMobile()"></app-mainpage-channels>
        </mat-sidenav>

        <app-mainpage-chat *ngIf="!channelService.inDirectMessage" class="chat-container d-flex f-column" [ngClass]="{
                    'hide-chat-container': isRightSidenavActive(),
                    'hide-main-chat' : !showChat
                }" (openRightSidenav)="rightSidenav.open()" (openLeftSidenav)="leftSidenav.open()"></app-mainpage-chat>

        <app-mainpage-direct-message *ngIf="channelService.inDirectMessage" class="chat-container d-flex f-column"
            [ngClass]="{
                'hide-chat-container': isRightSidenavActive(),
                'hide-main-chat' : !showChat
            }" (openLeftSidenav)="leftSidenav.open()"></app-mainpage-direct-message>

        <mat-sidenav #rightSidenav [mode]="sidenavMode" opened="false" position="end" class="wrapper">
            <app-mainpage-threads class="threads-container d-flex f-column" [ngClass]="{
                    'thread-full-width': isRightSidenavActive()}" (closeEvent)="rightSidenav.toggle()">
            </app-mainpage-threads>
        </mat-sidenav>

    </mat-sidenav-container>

</div>