.main-page-bg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: transparent !important;
    height: 100%;
    margin-bottom: 20px;
<<<<<<< HEAD

    @media (max-width: 920px) {
        margin-bottom: 0;
    }
=======
>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
}

.wrapper {
    background-color: transparent !important;
    border: none !important;
}

.chat-container {
    height: 100%;
<<<<<<< HEAD
=======
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.threads-container {
    height: 100%;
    width: 450px;
>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
<<<<<<< HEAD
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;

    @media (max-width: 920px) {
        margin: 0;
        border-radius: 0;
    }
}

.hide-main-chat {
    @media (max-width: 920px) {
        display: none;
    }
}

.hide-sidenav-toggle-div {
    @media (max-width: 1300px) {
        display: none !important;
    }
}

.threads-container {
    height: 100%;
    width: 420px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-right: 20px;
    overflow: hidden;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 320px;
    }

    @media (max-width: 920px) {
        margin: 0 !important;
        border-radius: 0;
    }
}

.thread-take-space {
    @media (min-width: 920px) and (max-width: 1300px) {
        width: calc(100vw - 372px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

.thread-full-width {
    @media (max-width: 1300px) {
        width: calc(100vw - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 920px) {
        width: 100vw;
    }
}


.left-sidenav-active {
    @media (min-width: 920px) and (max-width: 1300px) {
        width: calc(100vw);
        margin-left: 20px;
        margin-right: 20px;
    }
}

.channel-container {
    height: 100%;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-left: 20px;
    overflow: hidden;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 312px;
    }

    @media (max-width: 920px) {
        width: calc(100vw - 40px);
        margin: 0;
        border-radius: 0;
        padding: 20px;
    }
}

=======
    margin-right: 20px;
}

.channel-container {
    height: 100%;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-left: 20px;
    overflow: hidden;
}

>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
.toggle-sidenav-container {
    position: absolute;
    left: 0;
    bottom: 100px;
<<<<<<< HEAD
    z-index: 98;
=======
    z-index: 96;
>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    gap: 20px;
    padding: 30px 15px;
    -webkit-box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.25);
    transition: all 90ms ease-in-out;

    span {
        text-orientation: mixed;
        font-size: 18px;
    }
<<<<<<< HEAD

    .code-symbol {
        object-fit: contain;
        transform: rotate(180deg);

=======

    .code-symbol {
        object-fit: contain;
        transform: rotate(180deg);

>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
        &:hover {
            transform: none;
        }
    }

    &:hover {
        color: #797EF3;
    }
<<<<<<< HEAD

    @media (max-width: 920px) {
        display: none;
    }
=======
>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
}