<div class="main-page-bg">

    <app-header (closeEvent)="toggleLeftSidenav()"></app-header>

    <mat-sidenav-container class="content">

        <mat-sidenav #leftSidenav mode="side" opened="true" class="wrapper">
            <div class="channel-container"></div>
        </mat-sidenav>

        <app-main-chat class="chat-container d-flex f-column"></app-main-chat>

        <mat-sidenav #rightSidenav mode="side" opened="true" position="end" class="wrapper">
            <app-threads class="threads-container d-flex f-column" (closeEvent)="toggleRightSidenav()"></app-threads>
        </mat-sidenav>

    </mat-sidenav-container>
</div>