.main-page-bg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: transparent !important;
    height: 100%;
    margin-bottom: 20px;
}

.wrapper {
    background-color: transparent !important;
    border: none !important;
}

.chat-container {
    height: 100%;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.threads-container {
    height: 100%;
    width: 450px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-right: 20px;
}

.channel-container {
    height: 100%;
    width: 350px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin-left: 20px;
    overflow: hidden;
}

.toggle-sidenav-container {
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 96;
    background-color: white;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    gap: 20px;
    padding: 30px 15px;
    -webkit-box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -2px 0px 7px 0px rgba(0, 0, 0, 0.25);
    transition: all 90ms ease-in-out;

    span {
        text-orientation: mixed;
        font-size: 18px;
    }

    .code-symbol {
        object-fit: contain;
        transform: rotate(180deg);

        &:hover {
            transform: none;
        }
    }

    &:hover {
        color: #797EF3;
    }
}