<div class="reset-password-cont">

  <div class="logo-img-cont-always">
    <img src="./assets/img/logo-intro.png">
    <div class="title">DABubble</div>
  </div>

  <img [class.password-valid-animation]="isValid" class="to-login-image" src="./assets/img/to-login.png">

  <mat-card>

    <div class="reset-password">
      <div class="title">Passwort zurücksetzen</div>
      <div class="email-send">
        <div class="input-cont">
          <input (ngModelChange)="passwordCheck()" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
            placeholder="Neues Passwort" type="password" [(ngModel)]="newPassword" name="newPassword">
          <div style="display: none;" [class.warning]="isNewPasswordNotValid && confirmPassword != ''">
            *Die Passwörter stimmen nicht zusammen!</div>
          <div style="display: none;" [class.warning]="isPatternNotValid">
            mind. 8 Karakter: a-z-A-Z-0-9</div>
        </div>
        <div class="input-cont">
          <input (ngModelChange)="passwordCheck()" placeholder="Neues Kennwort bestätigen" type="password"
            [(ngModel)]="confirmPassword" name="confirmPassword" [disabled]="isPatternNotValid">
          <div style="display: none;" [class.warning]="isConfirmPasswordNotValid && confirmPassword != ''">
            *Die Passwörter stimmen nicht zusammen!</div>
        </div>

      </div>

      <div class="button-cont">
        <button (click)="resetPassword()" [disabled]="isPasswordValid">Passwort ändern</button>
      </div>

    </div>

    <mat-card-actions>
      <button (click)="checkIntro()" [routerLink]="'/send-link'" mat-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card>

  <footer>
    <span>Impressum</span>
    <span>Datenschutz</span>
  </footer>



</div>