.login-card {
    width: 550px;
    height: unset !important;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 30px;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 500px;
    }

    @media (max-width: 700px) {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: -100px;
    }

    @media (max-width: 450px) {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-height: 750px) {
        margin-top: -50px;
    }
}

form {
    width: 100%;
    gap: 30px;
    
    @media (max-width: 450px) {
        gap: 20px;
    }
    
    @media (max-height: 655px) {
        gap: 15px;
    }
}