<div class="login-dialog-content flex-center p-relative">
  <img class="logo-and-title p-absolute hide-mobile pointer" src="assets/img/logo/logo_&_name.png" [routerLink]="'/'">
  <div class="hide-desktop logo-box d-flex ai-center p-absolute animation-stop pointer" [routerLink]="'/'">
    <img class="logo" src="assets/img/logo/logo.png">
    <span>DABubble</span>
  </div>

  <mat-card class="login-card d-flex f-column ai-center" [class.opa-03]="loading">
    <!-- <mat-card *ngIf="tokenValid" class="login-card d-flex f-column ai-center"> -->
    <form (submit)="resetPassword()" class="d-flex f-column ai-center">
      <h1>Passwort zurücksetzen</h1>
      <span class="dialog-span text-center">Bitte geben Sie ihr neues Passwort ein.</span>

      <div class="login-input-container d-flex ai-center j-start pointer p-relative">
        <img class="input-icon" src="assets/img/icons/lock.png">
        <input [(ngModel)]="newPassword" name="newPassword" (ngModelChange)="validatePassword()"
          type="{{ showPassword ? 'text' : 'password' }}" placeholder="Neues Passwort" #newPasswordInput="ngModel" autocomplete="off">
        <img class="privacy-icon pointer"
          [src]="showPassword ? 'assets/img/icons/password_show.svg' : 'assets/img/icons/password_hide.svg'"
          (click)="togglePasswordVisibility()">
        <span *ngIf="!isPasswordValid && !isPasswordEmpty && newPasswordInput.dirty" class="warn p-absolute">
          * mindestens 8 Zeichen: a-z-A-Z-0-9
        </span>
        <span *ngIf="isPasswordEmpty && newPasswordInput.dirty" class="warn p-absolute">
          * Bitte geben sie ein Passwort ein.
        </span>
      </div>

      <div class="login-input-container d-flex ai-center j-start pointer p-relative">
        <img class="input-icon" src="assets/img/icons/mail.png">
        <input (ngModelChange)="onPasswordChange()" placeholder="Neues Kennwort bestätigen" type="password"
          [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" autocomplete="off">
        <span *ngIf="!passwordsMatch && confirmPasswordInput.dirty" class="warn p-absolute">
          *Die Passwörter stimmen nicht überein.
        </span>
      </div>

      <div class="btn-container j-end w-100">
        <button class="btn-primary" type="submit" [disabled]="!passwordsMatch">Passwort ändern</button>
      </div>

      <mat-icon class="go-back-icon p-absolute pointer flex-center" (click)="cancelIntro()"
        [routerLink]="'/send-link'">arrow_back</mat-icon>
    </form>
  </mat-card>

  <!-- <mat-card *ngIf="!tokenValid">Token abgelaufen</mat-card> -->

  <footer class="login-footer d-flex g-40">
    <span class="dialog-span policy-span pointer" [routerLink]="'/imprint'">Impressum</span>
    <span class="dialog-span policy-span pointer" [routerLink]="'/privacy-policy'">Datenschutz</span>
  </footer>
</div>

<app-success-banner *ngIf="isBannerVisible" [message]="bannerMsg">
</app-success-banner>