<div class="reset-password-cont">
    <button (click)="checkIntro()" [routerLink]="'/'" >LOGIN</button>
    <mat-card>


      <form (ngSubmit)="resetPassword()" #passwordForm="ngForm">
        <input
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          placeholder="Neues Passwort"
          type="password"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        >
        <input
          placeholder="Passwort bestätigen"
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        >
        <button type="submit" [disabled]="!passwordForm.valid">Senden</button>
      </form>


        <!-- <input pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" placeholder="Neues Passwort" type="password" [(ngModel)]="newPassword">
        <input placeholder="Passwort bestätigen" type="password" [(ngModel)]="confirmPassword">
        <button (click)="resetPassword()">Senden</button> -->
      </mat-card>

</div>


