<div class="user-profile-container-wrapper">

    <span class="profile-text">Profil</span>
    <mat-icon class="icon-position pointer" (click)="closeThreads()">close</mat-icon>

    <div class="user-profile-container">

        <div class="profil-image-container">
            <img class="profile-image"
                [src]="this.chatService.ownerData.ownerAvatarSrc || 'assets/img/avatar_small.png'">
        </div>

        <span class="user-name">{{ this.chatService.ownerData.ownerName }}</span>

        <div class="active-container">
            <img class="online-dot" src="assets/img/icons/online.png">
            <span class="online-text">Aktiv</span>
        </div>

        <div class="email-icon-text-container">
            <img src="assets/img/icons/email.png">
            <span>E-Mail-Adresse</span>
        </div>

        <span class="user-email">{{ this.chatService.ownerData.ownerEmail }}</span>

        <!-- <div class="nachricht-btn">
            <img (click)="closeThreads()" src="./assets/img/nachricht.png">
        </div> -->

        <div class="btn-container">
            <button class="btn-primary btn-primary-medium" (click)="closeThreads()">Nachricht</button>
        </div>

    </div>

</div>