.content {
    max-width: 700px;
    gap: 20px;
    padding-top: 10px;

    @media (max-width: 1550px) or (max-height: 750px) {
        padding: 0;
        margin-bottom: 0;
    }

    @media (max-width: 700px) {
        max-width: unset;
    }
}

b {
    font-weight: 700;
}

.grey-span {
    color: #686868;
<<<<<<< HEAD
}

button:disabled {
    background-color: #696969;
    cursor: not-allowed;
=======
>>>>>>> 5e9dc2590ee32b0477fb53aab40e7b77fc6d36b8
}