.main-page-header {
    height: 110px;
    max-width: 100%;

    @media (max-width: 1550px) or (max-height: 750px) {
        height: 95px;
    }

    @media (max-width: 920px) {
        height: 80px;
    }
}

.logo-container {
    width: 350px;
    margin-left: 20px;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 312px;
    }

    @media (max-width: 920px) {
        width: unset;
    }

    img {
        object-fit: contain;

        @media (max-width: 1550px) or (max-height: 750px) {
            height: 60px;
        }

        @media (max-width: 920px) {
            height: 50px;
        }
    }
}

.profile-container {
    height: 100%;
    min-width: 420px;
    margin-right: 20px;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 320px;
    }

    @media (max-width:1300px) {
        min-width: unset;
        width: unset;
        padding-left: 32px;
    }

    .name {
        height: 100%;
        font-size: 30px;
        font-weight: 700;
        overflow: hidden;
        text-align: center;
        display: grid;
        place-items: center;
        line-height: 32px;
        margin-right: 20px;

        @media (max-width: 1550px) or (max-height: 750px) {
            font-size: 26px;
        }

        @media (max-width:1300px) {
            display: none;
        }

        @media (max-width:920px) {
            display: flex;
        }

        @media (max-width:700px) {
            display: none;
        }

        &:hover {
            color: #797EF3;
        }
    }

    .user-avatar {
        height: 65px;
        width: 65px;
        object-fit: contain;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.904);

        @media (max-width: 1550px) or (max-height: 750px) {
            height: 55px;
            width: 55px;
        }

        @media (max-width: 920px) {
            height: 50px;
            width: 50px;
        }
    }

    .arrow-icon {
        object-fit: contain;
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 2px;
        margin-left: 20px;

        &:hover {
            color: #797EF3;
        }
    }
}

.status-container {
    div {
        margin-left: 4px;
        width: 17px;
        height: 17px;
        border-radius: 100%;

        @media (max-width: 1550px) or (max-height: 750px) {
            width: 16px;
            height: 16px;
        }
    }

    .status {
        font-size: 17px;
        font-weight: 500;

        @media (max-width: 1550px) or (max-height: 750px) {
            font-size: 16px;
        }
    }
}

.status-check {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white;
}

.cancel-hover {
    &:hover {
        color: black !important;
        cursor: default !important;
    }
}

.logout-popup {
    top: 110px;
    right: 20px;
    width: 145px;
    background-color: white;
    border-radius: 30px;
    border-top-right-radius: 0;
    gap: 40px;
    align-items: flex-start;
    padding: 40px;

    @media (max-width: 1550px) or (max-height: 750px) {
        top: 95px;
        width: 135px;
        gap: 30px;
    }

    @media (max-width: 920px) {
        top: 80px;
    }

    @media (max-width: 700px) {
        top: 0;
        left: 0;
        width: calc(100% - 80px);
        border-radius: 0;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    @media (max-width: 450px) {
        padding: 20px 40px;
        gap: 20px;
    }

    span {
        font-size: 24px;
        font-weight: 600;
        gap: 20px;

        span {
            font-size: 28px;
            font-weight: 500;
        }

        @media (max-width: 1550px) or (max-height: 750px) {
            font-size: 22px;

            span {
                font-size: 26px;
            }
        }

        @media (max-width: 700px) {
            font-size: 20px;

            span {
                font-size: 24px;
            }
        }

        @media (max-width: 450px) {
            font-size: 18px;

            span {
                font-size: 22px;
            }
        }

        &:hover {
            color: #797EF3;
            font-weight: 700;
        }
    }
}

.profile-popup {
    top: 110px;
    right: 20px;
    min-width: 350px;
    background-color: white;
    border-radius: 30px;
    border-top-right-radius: 0;
    padding: 40px;
    padding-top: 50px;

    @media (max-width: 1550px) or (max-height: 750px) {
        min-width: 320px;
        top: 95px;
        padding: 40px;
    }

    @media (max-width: 920px) {
        top: 80px;
    }

    @media (max-width: 700px) {
        top: 0;
        right: 0;
        min-width: unset;
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        border-radius: 0;
    }

    @media (max-width: 450px) {
        width: calc(100% - 40px);
        padding: 30px 20px;
    }

    span {
        font-weight: 700;
    }

    a {
        font-size: 16px;
        font-weight: 600;
        color: #535AF1;
    }

    h2 {
        margin: 0 !important;

        @media (max-width: 450px) {
            margin-right: 40px !important;
        }
    }
}

.edit-profile-input {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid #ADB0D9;

    &:focus-visible {
        outline: none;
        border: 1px solid #444DF2;
    }

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 16px;
        padding: 12px 20px;
    }

    @media (max-width: 700px) {
        font-size: 18px;
        padding: 15px 20px;
    }

    @media (max-width: 450px) {
        font-size: 16px;
        padding: 12px 20px;
    }
}

.hide-name {
    @media (max-width:1300px) {
        display: none;
    }
}

.email-change-alert {
    font-size: 12px !important;
    font-weight: 400 !important;
    margin-top: 10px;
}

.warn {
    color: red !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}