<div class="chat-header d-flex">
    <span class="chat-headline d-flex ai-center pointer"><mat-icon><i>tag</i></mat-icon>{{ this.currentChannel ?
        this.currentChannel.name : 'No Channel' }}<mat-icon>keyboard_arrow_down</mat-icon></span>
    <div class="d-flex ai-center">
        <div class="d-flex ai-center mr-20 assigned-clients-box pointer">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <span class="assigned-client-count">3</span>
        </div>
        <div class="add-client-icon-box flex-center pointer">
            <mat-icon class="add-client-icon">person_add_alt</mat-icon>
        </div>
    </div>
</div>

<div class="chat-content">
    <div *ngFor="let thread of threads; let i = index" class="d-flex f-column">

        <div *ngIf="!threadSentOnNewDate(i, threads)" class="d-flex ai-center message-date-container"
            [ngStyle]="{ 'margin-top': i === threads.length - 1 ? '120px' : '30px' }">
            <div class="message-date-line"></div>
            <span class="message-date">{{ getFormattedDate(thread.date) }}</span>
            <div class="message-date-line"></div>
        </div>

        <div class="main-thread-container d-flex ai-start g-20 p-relative"
            [class.own-thread-container]="thread.owner === accountService.getLoggedInUser().id"
            (mouseenter)="hoveredThreadId = i" (mouseleave)="hoveredThreadId = null">
            <img class="thread-avatar" [src]="thread.avatarSrc || 'assets/img/avatar_small.png'">
            <div class="d-flex f-column g-10"
                [class.thread-creator-reverse]="thread.owner === accountService.getLoggedInUser().id">
                <div class="d-flex ai-baseline"
                    [class.thread-message-box-reverse]="thread.owner === accountService.getLoggedInUser().id">
                    <span class="thread-creator">{{ thread.ownerName }}</span>
                    <span class="thread-time"
                        [class.thread-time-reverse]="thread.owner === accountService.getLoggedInUser().id">{{
                        getFormattedTime(thread.date) }}</span>
                </div>
                <span class="thread-text pointer"
                    [class.thread-text-reverse]="thread.owner === accountService.getLoggedInUser().id"
                    (click)="openThreads()">{{ thread.content }}</span>
                <!-- <div class="emoji-section d-flex ai-center g-10"
                    [class.flex-row-reverse]="thread.owner === accountService.getLoggedInUser().id">
                    <div class="flex-center add-emoji-box">
                        <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                            (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                    </div>
                    <div class="emoji-box flex-center pointer">
                        <img src="assets/img/icons/rocket.png">
                        <span>1</span>
                    </div>
                    <div class="emoji-box flex-center pointer">
                        <img src="assets/img/icons/checkmark.png">
                        <span>1</span>
                    </div>
                </div> -->
                <div *ngIf="thread.answers?.length">
                    <span class="thread-answer-count">{{ getAmountOfAnswers(thread) }}</span>
                    <span class="thread-time">Letzte Antwort 00:00 Uhr</span>
                </div>
            </div>
            <div *ngIf="hoveredThreadId === i" class="thread-reaction-container flex-center g-10"
                [class.thread-reaction-container-reverse]="thread.owner === accountService.getLoggedInUser().id">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <mat-icon (click)="openThreads()">comment</mat-icon>
                <div *ngIf="thread.owner === accountService.getLoggedInUser().id" class="p-relative"
                    (mouseenter)="ownThreadId = i" (mouseleave)="ownThreadId = null">
                    <mat-icon class="edit-msg-icon">keyboard_control</mat-icon>
                    <div *ngIf="(hoveredThreadId === i) && (ownThreadId === i)" class="thread-edit-btn pointer">
                        Nachricht
                        bearbeiten</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="message-container d-flex f-column">
    <textarea name="main-chat-input" placeholder="Nachricht an #Entwicklerteam"
        [(ngModel)]="message.content"></textarea>
    <div class="d-flex message-icons">
        <div class="d-flex ai-center">
            <img class="message-hover-icon"
                [src]="hoverPlusIcon ? 'assets/img/icons/plus_blue.png' : 'assets/img/icons/plus.png'"
                (mouseenter)="hoverPlusIcon = true" (mouseleave)="hoverPlusIcon = false">
            <div class="message-hover-icon" class="icon-divider-line"></div>
            <img class="message-hover-icon"
                [src]="hoverSmileyIcon ? 'assets/img/icons/smiley_blue.png' : 'assets/img/icons/smiley.png'"
                (mouseenter)="hoverSmileyIcon = true" (mouseleave)="hoverSmileyIcon = false">
            <img class="message-hover-icon"
                [src]="hoverAtIcon ? 'assets/img/icons/at_blue.png' : 'assets/img/icons/at.png'"
                (mouseenter)="hoverAtIcon = true" (mouseleave)="hoverAtIcon = false">
        </div>
        <img class="message-send-icon" src="assets/img/icons/arrow_send.png" (click)="sendMessage()">
    </div>
</div>