<div *ngIf="!channelService.noCurrentChannel" class="chat-header d-flex">
    <span class="chat-headline d-flex ai-center pointer" (click)="openEditChannel()">
        <mat-icon>
            <i>tag</i>
        </mat-icon>
        {{ currentChannel.name }}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </span>
    <div class="d-flex ai-center p-relative">
        <div (click)="openMembers()" class="d-flex ai-center mr-20 assigned-clients-box pointer">
            <img *ngFor="let member of currentChannelMembers | slice:0:3" class="member-avatar"
                [src]="member.avatarSrc || 'assets/img/avatar/avatar_standard_(1).png'"
                (error)="accountService.handleImageError($event, 'assets/img/avatar/avatar_standard_(1).png')">
            <span class="assigned-client-count">{{ currentChannel.members.length }}</span>
        </div>
        <div class="add-client-icon-box flex-center pointer"
            (click)="channelService.channelOwnerEqualCurrentUser ? openAddNewMembers() : null"
            [class.add-member-hover-grey]="!channelService.channelOwnerEqualCurrentUser">
            <mat-icon class="add-client-icon">person_add_alt</mat-icon>
        </div>
    </div>
    <mat-icon class="close-icon-responsive flex-center p-absolute pointer"
        (click)="closeChannelMobile()">close</mat-icon>
</div>

<div *ngIf="!channelService.noCurrentChannel" class="chat-content">

    <div *ngFor="let thread of threads; let i = index" class="d-flex f-column">

        <div *ngIf="!channelService.threadSentOnNewDate(i, threads)" class="d-flex ai-center message-date-container"
            [ngStyle]="{ 'margin-top': i === threads.length - 1 ? '120px' : '30px' }">
            <div class="message-date-line"></div>
            <span class="message-date">{{ channelService.getFormattedDate(thread.date) }}</span>
            <div class="message-date-line"></div>
        </div>

        <div class="main-thread-container d-flex ai-start g-20 p-relative"
            [class.own-thread-container]="thread.ownerID === accountService.getLoggedInUser().id"
            [class.hover-main-thread]="inEditMessage === i" (mouseenter)="hoveredThreadId = i"
            (mouseleave)="hoveredThreadId = null">

            <img (click)="openDialogProfile(thread)" class="thread-avatar pointer"
                [src]="thread.ownerAvatarSrc || 'assets/img/avatar/avatar_standard_(1).png'"
                (error)="accountService.handleImageError($event, 'assets/img/avatar/avatar_standard_(1).png')">

            <div [id]="thread.id" class="d-flex f-column g-10"
                [class.thread-creator-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                [class.text-alignment-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                [class.w-100]="inEditMessage === i">


                <div class="d-flex ai-baseline"
                    [class.thread-message-box-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                    <span (click)="openDialogProfile(thread)" class="thread-creator pointer">
                        {{ thread.ownerName }}</span>
                    <span class="thread-time"
                        [class.thread-time-reverse]="thread.ownerID === accountService.getLoggedInUser().id">{{
                        channelService.getFormattedTime(thread.date) }}</span>
                </div>

                <div *ngIf="thread.uploadedFile" class="file-container pointer" (click)="openThreads(thread.id)">
                    <img class="thread-file" [src]="thread.uploadedFile"
                        [class.thread-file-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                        [class.img-border-complete]="!thread.content && !(inEditMessage === i)">
                </div>

                <span *ngIf="thread.content && !(inEditMessage === i)" class="thread-text pointer"
                    [class.thread-text-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                    [class.change-text-border]="thread.uploadedFile"
                    [class.change-text-border-reverse]="thread.uploadedFile && thread.ownerID === accountService.getLoggedInUser().id"
                    (click)="openThreads(thread.id)">{{ thread.content }}</span>

                <form *ngIf="inEditMessage === i" #messageForm="ngForm" name="editMessageContent_{{i}}"
                    class="d-flex j-between f-column edit-msg-input-box p-relative"
                    [class.change-form-border]="thread.uploadedFile">

                    <textarea [(ngModel)]="thread.editMessageContent" name="editMessageContent_{{i}}"
                        class="edit-msg-input"
                        [class.edit-msg-input-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                        minlength="1" maxlength="1500" required>
                        {{ editMessageContent }}
                    </textarea>
                    <div class="d-flex ai-center">
                        <span (click)="openDialogEmojisInEdit($event, thread)"
                            class="material-symbols-outlined message-hover-icon flex-center pointer icon-size-adjust in-edit-emoji-icon">
                            sentiment_satisfied
                        </span>
                    </div>

                    <div class="btn-container btn-container-extra">
                        <button class="btn-secondary btn-secondary-medium flex-center btn-padding-mobile"
                            (click)="closeEdit()">
                            <span class="material-symbols-outlined in-edit-icon hide-over-450">
                                block
                            </span>
                            <span class="hide-under-450">Abbrechen</span>
                        </button>
                        <button class="btn-primary btn-primary-medium flex-center btn-padding-mobile"
                            (click)="editMessage(thread.id, i)"
                            [disabled]="!thread.editMessageContent?.trim() || !messageForm.valid">
                            <span class="material-symbols-outlined in-edit-icon hide-over-450">
                                save
                            </span>
                            <span class="hide-under-450">Speichern</span>
                        </button>
                    </div>
                </form>

                <div class="reaction-section d-flex ai-center g-20"
                    [class.reaction-section-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                    [class.box-align-no-answer]="!thread.amountOfAnswers">

                    <div *ngIf="thread.amountOfAnswers" class="d-flex"
                        [class.j-end]="thread.ownerID === accountService.getLoggedInUser().id">

                        <span class="thread-answer-count" (click)="openThreads(thread.id)">
                            {{ channelService.formatAnswerCount(thread.amountOfAnswers) }}
                        </span>
                        <span class="thread-time">
                            Letzte Antwort - {{ channelService.getFormattedTime(thread.lastAnswerTime) }}
                        </span>

                    </div>

                    <div class="d-flex g-10">

                        <div *ngIf="channelService.hasReactions(thread.userReactions, '+')"
                            (click)="addReaction(thread.id, '+', accountService.getLoggedInUser().name)"
                            class="reaction-box flex-center p-relative pointer"
                            [class.reaction-box-reacted]="channelService.userHasReacted(thread, '+', accountService.getLoggedInUser().name)"
                            (mouseenter)="hoveredThumbUp = i" (mouseleave)="hoveredThumbUp = null">

                            <span class="material-symbols-rounded thumb-icon-small"
                                [ngStyle]="{'color': channelService.userHasReacted(thread, '+', accountService.getLoggedInUser().name) ? '#444DF2' : 'inherit'}">
                                thumb_up
                            </span>
                            <span class="reaction-amount"
                                [ngStyle]="{'font-weight': channelService.userHasReacted(thread, '+', accountService.getLoggedInUser().name) ? '700' : 'inherit'}">
                                {{ thread.userReactions | reactionCount: '+' }}
                            </span>

                            <div *ngIf="hoveredThumbUp === i" class="reacted-users-box flex-center"
                                [class.reacted-users-box-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                                <span class="reacted-user-span"
                                    [class.reacted-user-span-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                                    <ng-container
                                        *ngFor="let part of channelService.getReactionMessage(thread.userReactions, '+')">
                                        <b *ngIf="part.isName">{{ part.text }}</b>
                                        <span *ngIf="!part.isName">{{ part.text }}</span>
                                    </ng-container>
                                </span>
                            </div>

                        </div>

                        <div *ngIf="channelService.hasReactions(thread.userReactions, '-')"
                            (click)="addReaction(thread.id, '-', accountService.getLoggedInUser().name)"
                            class="reaction-box flex-center p-relative pointer"
                            [class.reaction-box-reacted]="channelService.userHasReacted(thread, '-', accountService.getLoggedInUser().name)"
                            (mouseenter)="hoveredThumbDown = i" (mouseleave)="hoveredThumbDown = null">

                            <span class="material-symbols-rounded thumb-icon-small"
                                [ngStyle]="{'color': channelService.userHasReacted(thread, '-', accountService.getLoggedInUser().name) ? '#444DF2' : 'inherit'}">
                                thumb_down
                            </span>
                            <span class="reaction-amount"
                                [ngStyle]="{'font-weight': channelService.userHasReacted(thread, '-', accountService.getLoggedInUser().name) ? '700' : 'inherit'}">
                                {{ thread.userReactions | reactionCount: '-' }}
                            </span>

                            <div *ngIf="hoveredThumbDown === i" class="reacted-users-box flex-center"
                                [class.reacted-users-box-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                                <span class="reacted-user-span"
                                    [class.reacted-user-span-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                                    <ng-container
                                        *ngFor="let part of channelService.getReactionMessage(thread.userReactions, '-')">
                                        <b *ngIf="part.isName">{{ part.text }}</b>
                                        <span *ngIf="!part.isName">{{ part.text }}</span>
                                    </ng-container>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="hoveredThreadId === i && !(inEditMessage === i)"
                class="thread-reaction-container flex-center g-10"
                [class.thread-reaction-container-reverse]="thread.ownerID === accountService.getLoggedInUser().id">

                <div (click)="addReaction(thread.id, '+', accountService.getLoggedInUser().name)"
                    class="thumb-icon flex-center pointer">
                    <span class="material-symbols-rounded"
                        [ngStyle]="{'color': channelService.userHasReacted(thread, '+', accountService.getLoggedInUser().name) ? '#444DF2' : 'inherit'}">
                        thumb_up
                    </span>
                </div>

                <div (click)="addReaction(thread.id, '-', accountService.getLoggedInUser().name)"
                    class="thumb-icon flex-center pointer">
                    <span class="material-symbols-rounded"
                        [ngStyle]="{'color': channelService.userHasReacted(thread, '-', accountService.getLoggedInUser().name) ? '#444DF2' : 'inherit'}">
                        thumb_down
                    </span>
                </div>

                <mat-icon (click)="openThreads(thread.id)">comment</mat-icon>

                <div *ngIf="thread.ownerID === accountService.getLoggedInUser().id" class="p-relative"
                    (mouseenter)="ownThreadId = i" (mouseleave)="ownThreadId = null">
                    <mat-icon class="edit-msg-icon">keyboard_control</mat-icon>
                    <div *ngIf="(hoveredThreadId === i) && (ownThreadId === i)"
                        class="thread-edit-btn d-flex f-column ai-end">
                        <span (click)="openEditMessage(thread.id, i)" class="pointer">Nachricht bearbeiten</span>
                        <span (click)="deleteMessage(thread.id)" class="pointer">Nachricht löschen</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form *ngIf="!channelService.noCurrentChannel" #chatMessageForm="ngForm" class="message-container d-flex f-column"
    (ngSubmit)="sendMessage(chatMessageForm)">

    <textarea (keydown.enter)="sendMessage(chatMessageForm)" (input)="resetMessageProperties()" name="main-chat-input"
        placeholder="Nachricht an #{{ currentChannel.name }}" [(ngModel)]="message.content" maxlength="1500"
        #mainChatInput required></textarea>

    <div class="d-flex message-icons">
        <div class="d-flex ai-center">

            <div class="file-input-container">
                <input type="file" (change)="resetMessageProperties(); chatService.uploadImageInThreads($event,'fileInputChat')"
                    id="fileInputChat" class="custom-file-input" aria-label="Datei hochladen">
                <label for="fileInputChat">
                    <span class="material-symbols-outlined message-hover-icon flex-center pointer">
                        add
                    </span>
                </label>
            </div>

            <div class="message-hover-icon" class="icon-divider-line"></div>

            <span (click)="resetMessageProperties(); openDialogEmojis($event)"
                class="material-symbols-outlined message-hover-icon flex-center pointer icon-size-adjust">
                sentiment_satisfied
            </span>

        </div>

        <div *ngIf="chatService.uploadedFileChat" [class.d-none]="chatService.showImage"
            class="preview-container flex-center p-absolute">
            <img class="preview-image" [src]="chatService.uploadedFileChat">
            <span (click)="chatService.deletePreviewImage()" class="material-symbols-outlined pointer">
                delete_forever
            </span>
        </div>

        <button class="message-send-btn flex-center" type="submit"
            [disabled]="loading || !message.content && (chatService.uploadedFileChat === '')">
            <img *ngIf="!loading && !chatService.uploading" class="message-send-icon"
                src="assets/img/icons/arrow_send.png">
            <div *ngIf="loading || chatService.uploading" class="loading-icon"></div>
        </button>
    </div>
</form>

<div *ngIf="channelService.noCurrentChannel" class="no-channel-overlay flex-center p-relative">
    <span>No channel selected</span>
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
    <div class="line line4"></div>
</div>