<form class="d-flex f-column p-relative" [class.extend-form]="hasSuggestions">
  <mat-icon class="close-icon p-absolute pointer close-icon-extra" (click)="dialogRef.close()">close</mat-icon>
  <h2>Leute hinzufügen</h2>
  <span class="threads-channel"># {{ currentChannel.name }}</span>

  <div class="search-main-container">
    <div class="p-relative">
      <div class="search-container pointer">
        <div class="search-field d-flex ai-center" [class.search-open]="hasSuggestions">
          <input placeholder="Name eingeben" autocomplete="off" [formControl]="control" name="channelMemberName"
            [value]="displayUserName(control.value)" required>

          <div class="result-container">
            <div class="result-search d-flex f-column j-start p-absolute pointer"
              [class.cancel-border]="!hasSuggestions">
              <div class="item d-flex ai-center" *ngFor="let user of filteredUsers | async" (click)="selectUser(user)">
                <div class="item-content d-flex ai-center">
                  {{ user.name }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <mat-dialog-actions class="j-end">
    <button class="btn-primary" [disabled]="!control.valid" (click)="addNewMember()">Hinzufügen</button>
  </mat-dialog-actions>
</form>