form {
    min-width: 380px;
    gap: 20px;
    padding-top: 5px;

    @media (max-width: 1550px) or (max-height: 750px) {
        padding: 0;
        margin-bottom: 0;
    }

    @media (max-width: 700px) {
        min-width: unset;
        min-height: unset;
    }
}

.extend-form {
    min-height: 420px;

    @media (max-width: 1550px) or (max-height: 750px) {
        min-height: 385px;
    }
}

h2 {
    margin: 0 0 10px 20px !important;

    @media (max-width: 1550px) or (max-height: 750px) {
        margin: 0 0 0 20px !important;
    }

    @media (max-width: 700px) {
        margin: 0 0 10px 20px !important;
    }

    @media (max-width: 450px) {
        margin: 0 0 0 20px !important;
    }
}

.close-icon-extra {
    top: 0 !important;
    right: 0 !important;
}

.threads-channel {
    font-size: 18px;
    font-weight: 500;
    color: #797EF3;
    margin-left: 20px;

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 16px;
    }

    @media (max-width: 700px) {
        font-size: 18px;
    }

    @media (max-width: 450px) {
        font-size: 16px;
    }
}

.item {
    font-size: 16px !important;
    padding: 20px 28px !important;

    .item-content {
        margin-left: 5px !important;
    }
}

.result-search {
    max-height: 170px !important;

    @media (max-width: 700px) {
        max-height: unset !important;
    }
}