.intro-cont {
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: bg-animation 500ms ease-in-out forwards;
    animation-delay: 1.5s;
}

.login-cont {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.logo-img-cont {
    height: 152px;
    width: 580px;

    img {
        width: 238px;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: 10;
    }

    .title {
        width: 0;
        height: 100%;
        font-size: 70px;
        font-weight: 700;
        left: 440px;
        margin-left: 25px;
        top: 0;
        z-index: 0;
        opacity: 0;
        animation: title-animation 280ms ease-in-out forwards;
        animation-delay: 1s;
    }
}

.logo-box {
    top: 20px;
    z-index: 102;
    left: 50%;
    font-size: 30px;
    font-weight: 700;
    transform: translateX(-50%);

    @media (max-width: 700px) {
        animation: logo-title-animation-small-screen 1900ms ease-in-out forwards;
    }

    @media (max-height: 700px) {
        font-size: 28px;
        top: 10px;
    }
}

.logo-after-intro {
    left: 50px;
    top: 50px;
}

.animation-cont {
    z-index: 101;
    right: 0;
    bottom: 64px;
    animation: container-none 3000ms forwards;

    .intro-logo-title {
        width: 625px;
        height: 152px;
        animation: logo-title-animation 1900ms ease-in-out forwards;
        animation-delay: 0.5s;
        overflow: hidden;
    }
}

.create-account-box {
    top: 50px;
    right: 64px;
    z-index: 100;
    gap: 20px;

    @media (max-width: 700px) {
        top: unset;
        bottom: 50px;
        left: 0;
        right: 0;
    }
}

.create-account-span {
    color: #797EF3;
}

mat-card {
    width: 550px;
    height: unset !important;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 30px;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 500px;
    }

    @media (max-width: 700px) {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: -100px;
    }

    @media (max-width: 450px) {
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-height: 750px) {
        margin-top: -50px;
    }
}

form {
    width: 100%;
    gap: 30px;

    @media (max-width: 450px) {
        gap: 20px;
    }

    @media (max-height: 655px) {
        gap: 15px;
    }
}

.sub-title {
    text-align: center;

    @media (max-width: 450px) {
        font-size: 15px;
    }
}

.password-forgot {
    text-align: center;
    color: #797EF3;
    margin-bottom: -10px;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #ECEEFE;
    }

    @media (max-width: 700px) {
        font-size: 15px;
    }

    @media (max-height: 655px) {
        margin-bottom: 0;
    }
}

.divider-container {
    justify-content: space-between;
    width: 100%;

    span {
        font-weight: 500;
        margin-bottom: -6px;
        margin-left: 12px;
        margin-right: 12px;

        @media (max-width: 700px) {
            font-size: 14px;
            margin-top: -10px;
        }
    }
}

.underline {
    flex-grow: 1;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.google-btn-container {
    height: 64px;
    object-fit: contain;
    width: calc(100% - 40px);
    border-radius: 30px;
    background-color: #ECEEFE;
    border: 1px solid transparent;
    transition: all 125ms ease-in-out;

    &:hover {
        border: 1px solid gray;
    }

    @media (max-width: 1550px) or (max-height: 750px) {
        height: 52px;
    }

    @media (max-width: 700px) {
        height: unset;
        max-height: 64px;
    }
}

.btn-cont {
    display: flex;
    gap: 40px;

    @media (max-width: 450px) {
        gap: 20px;
    }

    button {
        &[disabled] {
            background-color: #444DF2 !important;
            opacity: 0.7 !important;
            cursor: default !important;
        }
    }
}

footer {
    position: absolute;
    bottom: 50px;

    @media (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    @media (max-height: 720px) {
        bottom: 30px;
        gap: 0;
    }

    @media (max-height: 610px) {
        bottom: 10px;
    }

    @media (max-width: 450px) {
        gap: 20px;
    }
}

.footer-links-mobile {
    @media (max-width: 700px) {
        flex-direction: column;
        width: 165px;
        gap: 17px;
    }

    @media (max-width: 450px) {
        width: 150px;
    }
}

.footer-divider-line {
    width: 1px;
    height: 90px;
    background-color: #797EF3;

    @media (max-width: 450px) {
        height: 82px;
    }
}

.gap-adjust {
    gap: 40px;

    @media (max-width: 700px) {
        gap: 10px !important;
    }
}

.margin-top-mobile {
    @media (max-width: 700px) {
        margin-top: 7px;
    }
}