 .intro-cont {
     position: absolute;
     z-index: 100;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
     animation: bg-animation 500ms ease-in-out forwards;
     animation-delay: 1.5s;
 }

 

 .login-cont {
     width: 100vw;
     max-width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }



 .logo-img-cont {
     position: relative;
     height: 150px;

     img {
         width: 65%;
         height: 100%;
         object-fit: cover;
         overflow: hidden;
         z-index: 10;
     }

     .title {
         width: 0;
         height: 100%;
         font-size: 68px;
         position: absolute;
         left: 500px;
         top: 0;
         z-index: 0;
         opacity: 0;
         animation: title-animation 280ms ease-in-out forwards;
         animation-delay: 1s;
         display: flex;
         align-items: center;
         justify-content: flex-end;
     }
 }




 .logo-img-cont-always {
     position: absolute;
     width: 250px;
     left: 50px;
     top: 50px;
     display: flex;

     img {
         height: 70px;
         width: 150px;
         object-fit: cover;
         position: relative;
     }

     .title {
         font-size: 30px;
         font-weight: 500;
         position: absolute;
         color: black;
         top: 35%;
         right: 0px;
         display: flex;
         align-items: center;
         justify-content: flex-end;

     }

 }




 .animation-cont {
     z-index: 101;
     position: absolute;
     right: 0;
     bottom: 64px;
     animation: container-none 3000ms forwards;

     .intro-logo-title {
         width: 600px;
         height: 160px;

         animation: logo-title-animation 1900ms ease-in-out forwards;
         animation-delay: 0.5s;
         overflow: hidden;


     }
 }

 @keyframes container-none {
     0% {
         z-index: 101;
     }

     50% {
         z-index: 101;
     }

     75% {
         z-index: 101;
     }

     100% {
         z-index: 0;
     }
 }






 @keyframes title-animation {
     from {
         opacity: 0;
         color: white;
     }

     to {
         width: 10%;
         margin-left: 25px;
         opacity: 1;
     }
 }


 @keyframes logo-title-animation {
     0% {
         transform: translateX(0);
         color: white;

     }

     35% {
         transform: translateX(-200px);
         color: white;
     }

     100% {
         transform: translateX(calc(-100vw + 475px)) translateY(calc(-100vh + 233px)) scale(0.465);
         color: black;
     }
 }



 @keyframes bg-animation {
     from {
         opacity: 1;
     }

     to {
         opacity: 0;
         display: none;
     }
 }


 .to-account {
     position: absolute;
     top: 50px;
     right: 64px;
     display: flex;
     z-index: 100;
     flex-direction: column;
     align-items: flex-end;
     gap: 24px;
     font-size: 18px;

     div {
         color: #797EF3;
         border-radius: 16px;
         padding: 5px 10px;
         border: 1px solid transparent;
         cursor: pointer;
         transition: all 225ms ease-in-out;

         &:hover {
             border: 1px solid lightgray;
             transition: all 225ms ease-in-out;
         }
     }
 }






 // ************************** mat-card ************************


 mat-card {
     width: 550px;
     height: 650px;
     border-radius: 32px;
 }


 .mat-card-cont {

     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 64px;
     box-sizing: border-box;
     gap: 32px;

     .title {
         color: #444DF2;
         font-size: 42px;
     }

     .sub-title {
         text-align: center;
         font-size: 16px;
         font-weight: 200;
     }
 }





 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     gap: 32px;

     .email-cont,
     .password-cont {
         position: relative;
         width: 100%;
         display: flex;
         justify-content: center;

         .eye {
            position: absolute;
            left: 380px;
            top: 15px;
            width: 20px;
            height: 20px;
            object-fit: contain;
            cursor: pointer;
            opacity: 0.6;
        }

         img {
             position: absolute;
             width: 15px;
             height: 15px;
             object-fit: contain;
             left: 35px;
             top: 18px;
         }


         input {
             outline: none;
             height: 48px;
             width: 340px;
             font-size: 16px;
             padding-left: 80px;
             border: unset;
             border-radius: 25px;
             background-color: #ECEEFE;
             border: 1px transparent solid;
             cursor: pointer;
            }

            input::placeholder {
                color:gray ;
              }
              
              input:focus::placeholder {
                color: transparent;
              }

         .warning-invalid,
         .warning-not-exist {
             position: absolute;
             bottom: -25px;
             left: 0;
             color: red;
             font-size: 12px;
         }



         input:hover {
             border: 1px gray solid;
         }

         .warning {
             display: block !important;
             position: absolute;
             bottom: -20px;
             left: 3px;
             font-size: 16px;
             color: red;
         }
     }


 }

 .password-forgot {
     text-align: center;
     color: #797EF3;
     cursor: pointer;
     margin-bottom: -8px;

 }



 .oder {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }

 .underline {
     flex-grow: 1;
     border-bottom: 1px solid lightgray;
     width: 100%;
 }

 .oder-text {
     margin-bottom: -6px;
     margin-left: 12px;
     margin-right: 12px;

 }


 .google-login {
     scale: 0.85;
     cursor: pointer;
     border-radius: 35px;
     border: 1px transparent solid;

     &:hover {
         border: 1px #444DF2 solid;
     }

 }

 .btn-cont {
     display: flex;
     gap: 32px;

     .login-btn {
         padding: 10px 24px;
         font-size: 16px;
         border: unset;
         border-radius: 24px;
         background-color: #444DF2;
         color: white;

         &:not([disabled]) {
             background-color: #444DF2;
             cursor: pointer;

             &:hover {
                 filter: brightness(1.6);
             }
         }

         &[disabled] {
             background-color: #444DF2;
             opacity: 0.7;
             cursor: default;
         }

     }

     .guest-login-btn {
         padding: 10px 24px;
         border: unset;
         font-size: 16px;
         border-radius: 24px;
         color: #444DF2;
         border: 1px solid #797EF3;
         background-color: white;
         cursor: pointer;

         &:hover {
             color: white;
             background-color: #444DF2;
         }
     }


 }

 footer {
    position: absolute;
    bottom: 64px;
    display: flex;
    gap: 32px;
    color: #797EF3;
    cursor: pointer;
    font-size: 18px;
    span {
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 225ms ease-in-out;
        border-radius: 16px;
        padding: 5px 10px;

        &:hover {
            border: 1px solid lightgray;
            transition: all 225ms ease-in-out;
        }
    }
}
