<form *ngIf="channelData" #channelForm="ngForm" class="content d-flex f-column">
    <mat-icon class="close-icon p-absolute pointer close-icon-dialog" (click)="dialogRef.close()">close</mat-icon>
    <div class="d-flex ai-center g-10 mb-10">
        <mat-icon class="hashtag"><i>tag</i></mat-icon>
        <h2>{{ channelData.name }}</h2>
    </div>
    <div class="edit-box d-flex f-column g-20 p-relative" [class.hide-borders]="inEditName">
        <b [class.pl-10]="inEditName">Channel-Name</b>
        <span *ngIf="!inEditName">{{ channelData.name }}</span>
        <input *ngIf="inEditName" [(ngModel)]="channelName" name="channelName" minlength="3" required>
        <span *ngIf="!inEditName" class="edit-span p-absolute pointer" (click)="editName()">Bearbeiten</span>
        <span *ngIf="inEditName" class="edit-span save-span p-absolute pointer" (click)="saveName(channelForm)">Speichern</span>
    </div>
    <div class="edit-box d-flex f-column g-20 p-relative" [class.hide-borders]="inEditDescription">
        <b [class.pl-10]="inEditDescription">Beschreibung</b>
        <span *ngIf="!inEditDescription">{{ channelData.description }}</span>
        <input *ngIf="inEditDescription" [(ngModel)]="channelDescription" name="channelDescription" required>
        <div class="edit-box-parting-line" [class.add-padding]="inEditDescription"></div>
        <b>Erstellt von</b>
        <span class="owner-span">Tim Voigt</span>
        <span *ngIf="!inEditDescription" class="edit-span p-absolute pointer" (click)="editDescription()">Bearbeiten</span>
        <span *ngIf="inEditDescription" class="edit-span save-span p-absolute pointer" (click)="saveDescription(channelForm)">Speichern</span>
    </div>
    <mat-dialog-actions class="j-end">
        <button class="btn-primary">Channel verlassen</button>
    </mat-dialog-actions>
</form>