<div class="login-dialog-content flex-center p-relative" [class.opa-03]="loading">
  <img class="logo-and-title p-absolute hide-mobile pointer" src="assets/img/logo/logo_&_name.png" [routerLink]="'/'">
  <div class="hide-desktop logo-box d-flex ai-center p-absolute animation-stop pointer" [routerLink]="'/'">
      <img class="logo" src="assets/img/logo/logo.png">
      <span>DABubble</span>
  </div>

  <mat-card class="login-card d-flex f-column ai-center">
    <h1>Wähle deinen Avatar</h1>
    <img class="chosen-avatar" [src]="accountService.newUser.avatarSrc">
    <h2 class="hide-mobile">{{ accountService.newUser.name }}</h2>
    <span class="dialog-span">Aus der Liste wählen</span>
    <div class="avatar-box d-flex">
      <img class="avatar-img pointer" (click)="chooseAvatar(i)" *ngFor="let avatar of avatars; let i = index"
        src="assets/img/{{ avatar }}.png">
    </div>
    <div class="file-input-container d-flex ai-center p-relative">
      <span class="dialog-span">oder eigenes Bild verwenden</span>
      <input type="file" (change)="uploadImage($event)" id="fileInput" class="custom-file-input">
      <label for="fileInput" class="btn-secondary" [attr.disabled]="loading ? true : null">Datei hochladen</label>
    </div>

    <div class="btn-container j-end w-100">
      <button class="btn-primary" (click)="createAccount()" [disabled]="!avatarSet">Weiter</button>
    </div>

    <mat-icon class="go-back-icon p-absolute pointer flex-center" [routerLink]="'/account'">arrow_back</mat-icon>
  </mat-card>

  <footer class="login-footer d-flex g-40">
    <span class="dialog-span policy-span pointer" [routerLink]="'/imprint'">Impressum</span>
    <span class="dialog-span policy-span pointer" [routerLink]="'/privacy-policy'">Datenschutz</span>
  </footer>
</div>

<app-success-banner *ngIf="isBannerVisible" [message]="bannerMsg">
</app-success-banner>