<div class="imprint-cont flex-center">
   
    <img class="logo" src="./assets/img/logo.png">
    <mat-card>

    <div class="content">
        <mat-icon class="close-icon pointer" (click)="close()">arrow_back</mat-icon>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, voluptates ut.
            Tempore, quis. Officiis, voluptas nulla quo deserunt maxime cupiditate id quae
            praesentium! Provident, accusamus consectetur nemo voluptatem animi nihil?</p>
    </div>
</mat-card>
</div>