.threads-container.closed {
    transform: translateX(100%);
}


.content {
    height: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    display: flex;
}

.threads-channel {
    font-size: 15px;
    font-weight: 500;
    color: #797EF3;
    margin-left: 20px;
}


.main-thread-container {
    padding: 10px 40px;

    &:hover {
        background-color: #ECEEFE;

        .thread-text {
            background-color: white;
        }

        .emoji-box {
            background-color: white;
        }

        .add-emoji-box {
            background-color: white;
        }
    }
}

.threads-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 180px;
}


.chat-container {
    flex: 1;
    max-height: calc(100% - 130px);
    width: 450px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
}

.threads-header,
.chat-header {
    height: 100px;
    padding: 0 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    margin-bottom: 15px;
}

.threads-headline,
.chat-headline {
    font-size: 24px;
    font-weight: 700;

    img {
        margin-left: 10px;
    }
}

.thread-avatar {
    height: 70px;
    border-radius: 50%;
    object-fit: contain;
}

.thread-creator {
    font-size: 18px;
    font-weight: 700;
}

.thread-time {
    font-size: 14px;
    font-weight: 500;
    color: #686868;
    margin-left: 20px;
}

.thread-text {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 20px;
    border-radius: 20px;
    border-top-left-radius: 0;
    background-color: #ECEEFE;
}

.edit-msg-input {
    font-family: 'Nunito', sans-serif !important;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    padding: 6px;
}

.edit-msg-input-box {
    height: 100px;
    width: 280px;
    padding: 6px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border: 1px solid #ADB0D9;
    background-color: white;
}

.thread-divider {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    span {
        font-size: 16px;
        font-weight: 400;
        color: #ADB0D9;
        white-space: nowrap;
        margin-left: 40px;
    }

    .thread-divider-line {
        height: 1px;
        flex-grow: 1;
        background-color: rgba(171, 174, 216, 0.85);
        margin-right: 40px;
    }
}

.own-thread-container {
    flex-direction: row-reverse;

    .thread-message-box-reverse {
        flex-direction: row-reverse;
    }

    .thread-time-reverse {
        margin-left: 0 !important;
        margin-right: 20px;
    }

    .thread-text-reverse {
        border-radius: 30px !important;
        border-top-right-radius: 0 !important;
        background-color: #797EF3 !important;
        color: white;
        font-size: 500;
    }
}

.thread-container-reverse {
    flex-direction: row-reverse;

    .thread-message-box-reverse {
        flex-direction: row-reverse;
    }

    .thread-time-reverse {
        margin-left: 0 !important;
        margin-right: 20px;
    }

    .thread-text-reverse {
        border-radius: 30px !important;
        border-top-right-radius: 0 !important;
        color: white;
        font-size: 500;
    }
}

.message-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 140px;
    border: 1px solid rgba(171, 174, 216, 0.85);
    border-radius: 20px;
    background-color: white;

    textarea {
        height: 60%;
        outline: none;
        border: none;
        padding: 15px 20px;
        border-radius: 20px;
        resize: none;
        overflow: scroll;
        font-size: 16px;
        font-weight: 500;
        color: #686868;

        &::placeholder {
            font-family: 'Nunito', sans-serif;
        }
    }

    .message-icons {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        justify-content: space-between;

        img {
            object-fit: contain;
            cursor: pointer;
            height: 20px;
            width: 20px;
            padding: 10px;
            margin-left: 5px;
        }

        img:first-child {
            height: 15px;
            width: 15px;
            margin-left: 0;
        }

        .icon-divider-line {
            height: 40px;
            width: 1px;
            background-color: #ADB0D9;
            margin-left: 5px;
        }

        .message-hover-icon {
            &:hover {
                border-radius: 50%;
                background-color: #ECEEFE;
                transform: scale(1.1);
            }
        }

        .message-send-icon {
            &:hover {
                filter: opacity(0.7)
            }
        }
    }
}

.thread-reaction-container {
    position: absolute;
    top: -22px;
    right: 40px;
    z-index: 8;
    background-color: white;
    padding: 2px 10px;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border: 1px solid #ADB0D9;

    &:hover {
        border: 1px solid #797EF3;
    }

    img {
        height: 20px;
        object-fit: contain;
        padding: 6px;
        border-radius: 50%;

        &:hover {
            background-color: #ECEEFE;
        }
    }

    mat-icon {
        font-size: 20px;
        padding: 6px;
        border-radius: 50%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #797EF3;
            background-color: #ECEEFE;
        }
    }

    .emoji-icon {
        border-radius: 50%;
        padding: 6px;

        &:hover {
            color: #797EF3;
            background-color: #ECEEFE;
        }
    }
}

.thread-reaction-container-reverse {
    border-radius: 50px !important;
    border-bottom-right-radius: 0 !important;
    right: unset !important;
    left: 40px;
}

.edit-msg-icon {
    transform: rotate(90deg);
}

.thread-edit-btn {
    position: absolute;
    left: 30px;
    top: 18px;
    padding: 8px 14px;
    border-radius: 50px;
    border-top-left-radius: 0;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ADB0D9;

    &:hover {
        font-weight: 600;
        color: #797EF3;
        border: 1px solid #797EF3;
    }
}

.emojis-container {
    button {
        border: unset;
        background-color: transparent;
        cursor: pointer;
    }

}