.threads-headline {
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;

    img {
        margin-left: 10px;
    }

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 20px;
    }

    @media (max-width: 920px) {
        font-size: 18px;
    }
}

.cancel-thread-hl-overflow {
    max-width: 340px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: 1550px) or (max-height: 750px) {
        max-width: 240px;
    }
}

.threads-channel {
    font-size: 15px;
    font-weight: 500;
    color: #797EF3;
    margin-left: 22px;

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 13px;
        margin-left: 4px;
    }
}

.threads-content {
    flex-direction: column !important;
}

.thread-file {
    max-width: 260px;
    max-height: 180px;

    @media (max-width: 1550px) or (max-height: 750px) {
        max-width: 170px;
        max-height: 130px;
    }

    @media (max-width: 1300px) {
        max-width: 400px;
        max-height: 250px;
    }

    @media (max-width: 700px) {
        max-width: 290px;
        max-height: 180px;
    }

    @media (max-width: 450px) {
        max-width: 170px;
        max-height: 130px;
    }
}

.thread-divider {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    span {
        font-size: 16px;
        font-weight: 400;
        color: #ADB0D9;
        white-space: nowrap;
        margin-left: 40px;

        @media (max-width: 1550px) or (max-height: 750px) {
            font-size: 14px;
        }
    }

    .thread-divider-line {
        height: 1px;
        flex-grow: 1;
        background-color: rgba(171, 174, 216, 0.85);
        margin-right: 40px;
    }
}

.thread-input-small {
    @media (max-width: 1550px) or (max-height: 750px) {
        width: 150px;
        height: 180px;
        padding: 10px;

        .btn-container {
            font-size: 12px !important;
        }
    }

    @media (max-width: 1300px) {
        width: calc(100% - 40px);
        height: unset;
        padding: 20px;
    }

    @media (max-width: 450px) {
        padding: 10px;
    }
}

.no-hover {
    &:hover {
        background-color: unset !important;

        .thread-text {
            background-color: #ECEEFE !important;
        }

        .thread-text-reverse {
            background-color: #797EF3 !important;
        }
    }
}

.btn-container-extra {
    gap: 10px !important;
}

.edit-btn-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    @media (max-width: 1300px) {
        width: unset;
        height: unset;
    }

    @media (max-width: 450px) {
        width: 30px;
        height: 30px;
    }
}

.in-edit-icon {
    font-size: 21px;
}

.in-edit-emoji-icon {
    bottom: 17px;
    left: 17px;

    @media (max-width: 1550px) or (max-height: 750px) {
        bottom: 8px;
        left: 8px;
    }

    @media (max-width: 1300px) {
        bottom: 16px;
        left: 16px;
    }

    @media (max-width: 450px) {
        bottom: 8px;
        left: 8px;
    }
}

.hide-over-1300 {
    display: none;

    @media (max-width: 1300px) {
        display: flex;
    }

    @media (max-width: 450px) {
        display: none;
    }
}

.hide-under-1300 {
    display: flex;

    @media (max-width: 1300px) {
        display: none;
    }

    @media (max-width: 450px) {
        display: flex;
    }
}