<mat-icon class="close-icon p-absolute pointer" (click)="closeThreads()">close</mat-icon>

<div *ngIf="currentChannel" class="threads-header d-flex">
    <span class="threads-headline">Thread<span class="threads-channel"># {{ currentChannel.name
            }}</span></span>
</div>

<div *ngIf="currentThread" class="threads-content">

    <div class="main-thread-container d-flex ai-start g-20"
        [class.own-thread-container]="currentThread.ownerID === accountService.getLoggedInUser().id">
        <img class="thread-avatar" src="{{ currentThread.ownerAvatarSrc }}">
        <div class="d-flex f-column g-10"
            [class.thread-creator-reverse]="currentThread.ownerID === accountService.getLoggedInUser().id">
            <div class="d-flex ai-baseline"
                [class.thread-message-box-reverse]="currentThread.ownerID === accountService.getLoggedInUser().id">
                <span class="thread-creator">{{ currentThread.ownerName }}</span>
                <span class="thread-time"
                    [class.thread-time-reverse]="currentThread.ownerID === accountService.getLoggedInUser().id">{{
                    getFormattedTime(currentThread.date) }}</span>
            </div>
            <span class="thread-text"
                [class.thread-text-reverse]="currentThread.ownerID === accountService.getLoggedInUser().id">{{
                currentThread.content }}</span>
        </div>
    </div>

    <div class="thread-divider d-flex ai-center g-20">
        <span>{{ getAmountOfAnswers() }}</span>
        <div class="thread-divider-line"></div>
    </div>

    <div *ngFor="let answer of threadAnswers; let i = index" class="d-flex f-column">
        <div class="main-thread-container d-flex ai-start g-20 p-relative"
            [class.own-thread-container]="answer.ownerID === accountService.getLoggedInUser().id"
            (mouseenter)="hoveredThreadId = i" (mouseleave)="hoveredThreadId = null">
            <img class="thread-avatar" [src]="answer.ownerAvatarSrc || 'assets/img/avatar_small.png'">
            <div class="d-flex f-column g-10"
                [class.thread-creator-reverse]="answer.ownerID === accountService.getLoggedInUser().id">
                <div class="d-flex ai-baseline"
                    [class.thread-message-box-reverse]="answer.ownerID === accountService.getLoggedInUser().id">
                    <span class="thread-creator">{{ answer.ownerName }}</span>
                    <span class="thread-time"
                        [class.thread-time-reverse]="answer.ownerID === accountService.getLoggedInUser().id">{{
                        getFormattedTime(answer.date) }}</span>
                </div>
                <span *ngIf="!(inEditMessage === i)" class="thread-text"
                    [class.thread-text-reverse]="answer.ownerID === accountService.getLoggedInUser().id">{{
                    answer.content }}</span>
                <div *ngIf="inEditMessage === i" class="d-flex j-between f-column edit-msg-input-box">
                    <textarea [(ngModel)]="answer.editMessageContent" class="edit-msg-input"
                        [class.edit-msg-input-reverse]="answer.ownerID === accountService.getLoggedInUser().id">{{ loadedMessageContent }}</textarea>
                    <div class="btn-container btn-container-small">
                        <button class="btn-secondary btn-secondary-small" (click)="closeEdit()">Abbrechen</button>
                        <button class="btn-primary btn-primary-small"
                            (click)="editMessage(answer.id, i)">Speichern</button>
                    </div>
                </div>

                <!-- <div *ngIf="thread.answers?.length">
                    <span class="thread-answer-count">{{ getAmountOfAnswers(thread) }}</span>
                    <span class="thread-time">Letzte Antwort 00:00 Uhr</span>
                </div> -->
            </div>
            <div *ngIf="hoveredThreadId === i" class="thread-reaction-container flex-center g-10"
                [class.thread-reaction-container-reverse]="answer.ownerID === accountService.getLoggedInUser().id">
                <div class="emoji-icon flex-center pointer">
                    <span class="material-symbols-outlined">add_reaction</span>
                </div>
                <div *ngIf="answer.ownerID === accountService.getLoggedInUser().id" class="p-relative"
                    (mouseenter)="ownThreadId = i" (mouseleave)="ownThreadId = null">
                    <mat-icon class="edit-msg-icon">keyboard_control</mat-icon>
                    <div *ngIf="(hoveredThreadId === i) && (ownThreadId === i)" class="thread-edit-btn pointer"
                        (click)="openEditMessage(answer.id, i)">
                        Nachricht bearbeiten</div>
                </div>
            </div>
        </div>
    </div>

    <form #chatMessageForm="ngForm" (ngSubmit)="sendMessage(chatMessageForm)" class="message-container d-flex f-column">
        <textarea (keydown.enter)="sendMessage(chatMessageForm)" name="thread-answer-input" placeholder="Antworten..."
            [(ngModel)]="message_2.content" required></textarea>
        <div class="d-flex message-icons">
            <div class="d-flex ai-center">
                <img class="message-hover-icon"
                    [src]="hoverPlusIcon ? 'assets/img/icons/plus_blue.png' : 'assets/img/icons/plus.png'"
                    (mouseenter)="hoverPlusIcon = true" (mouseleave)="hoverPlusIcon = false">
                <div class="message-hover-icon" class="icon-divider-line"></div>

                <mat-dialog-content>
                    <div class="emojis-container">
                        <button mat-menu-item (click)="openDialog()">
                            <img class="message-hover-icon"
                                [src]="hoverSmileyIcon ? 'assets/img/icons/smiley_blue.png' : 'assets/img/icons/smiley.png'"
                                (mouseenter)="hoverSmileyIcon = true" (mouseleave)="hoverSmileyIcon = false">
                        </button>
                    </div>
                </mat-dialog-content>

                <img class="message-hover-icon"
                    [src]="hoverAtIcon ? 'assets/img/icons/at_blue.png' : 'assets/img/icons/at.png'"
                    (mouseenter)="hoverAtIcon = true" (mouseleave)="hoverAtIcon = false">
            </div>
            <button class="message-send-btn" type="submit" [disabled]="loading">
                <img *ngIf="!loading" class="message-send-icon" src="assets/img/icons/arrow_send.png">
                <div *ngIf="loading" class="loading-icon"></div>
            </button>
        </div>
    </form>
</div>