<div class="chat-header d-flex">
    <!-- <span class="chat-headline d-flex ai-center pointer" (click)="openEditChannel()"><mat-icon><i>tag</i></mat-icon>{{
        this.currentChannel.name
        }}<mat-icon>keyboard_arrow_down</mat-icon></span>
    <div class="d-flex ai-center p-relative">
        <div class="d-flex ai-center mr-20 assigned-clients-box pointer" (click)="showMembersPopup = true">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <img class="avatar-small" src="assets/img/avatar_big.png">
            <span class="assigned-client-count">3</span>
        </div>
        <div class="add-client-icon-box flex-center pointer">
            <mat-icon class="add-client-icon">person_add_alt</mat-icon>
        </div>
        <div *ngIf="showMembersPopup" class="overlay" (click)="showMembersPopup = false">
            <div class="members-popup p-absolute flex-center f-column" (click)="$event.stopPropagation()">

            </div>
        </div>
    </div> -->
</div>

<div class="chat-content">
    <!-- <div *ngFor="let thread of threads; let i = index" class="d-flex f-column">

        <div *ngIf="!threadSentOnNewDate(i, threads)" class="d-flex ai-center message-date-container"
            [ngStyle]="{ 'margin-top': i === threads.length - 1 ? '120px' : '30px' }">
            <div class="message-date-line"></div>
            <span class="message-date">{{ getFormattedDate(thread.date) }}</span>
            <div class="message-date-line"></div>
        </div>

        <div class="main-thread-container d-flex ai-start g-20 p-relative"
            [class.own-thread-container]="thread.ownerID === accountService.getLoggedInUser().id"
            (mouseenter)="hoveredThreadId = i" (mouseleave)="hoveredThreadId = null">
            <img class="thread-avatar" [src]="thread.ownerAvatarSrc || 'assets/img/avatar_small.png'">
            <div class="d-flex f-column g-10"
                [class.thread-creator-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                <div class="d-flex ai-baseline"
                    [class.thread-message-box-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                    <span class="thread-creator">{{ thread.ownerName }}</span>
                    <span class="thread-time"
                        [class.thread-time-reverse]="thread.ownerID === accountService.getLoggedInUser().id">{{
                        getFormattedTime(thread.date) }}</span>
                </div>
                <span class="thread-text pointer"
                    [class.thread-text-reverse]="thread.ownerID === accountService.getLoggedInUser().id"
                    (click)="openThreads(thread.id)">{{ thread.content }}</span>
                <div *ngIf="thread.amountOfAnswers">
                    <span class="thread-answer-count" (click)="openThreads(thread.id)">{{
                        formatAnswerCount(thread.amountOfAnswers) }}</span>
                    <span class="thread-time">Letzte Antwort - {{ getFormattedTime(thread.lastAnswerTime) }}</span>
                </div>
            </div>
            <div *ngIf="hoveredThreadId === i" class="thread-reaction-container flex-center g-10"
                [class.thread-reaction-container-reverse]="thread.ownerID === accountService.getLoggedInUser().id">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <img src="assets/img/icons/add_reaction_blue.png" class="add-emoji pointer"
                    (mouseenter)="addFilter($event)" (mouseleave)="removeFilter($event)">
                <mat-icon (click)="openThreads(thread.id)">comment</mat-icon>
                <div *ngIf="thread.ownerID === accountService.getLoggedInUser().id" class="p-relative"
                    (mouseenter)="ownThreadId = i" (mouseleave)="ownThreadId = null">
                    <mat-icon class="edit-msg-icon">keyboard_control</mat-icon>
                    <div *ngIf="(hoveredThreadId === i) && (ownThreadId === i)" class="thread-edit-btn pointer">
                        Nachricht
                        bearbeiten</div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<form #chatMessageForm="ngForm" class="message-container d-flex f-column"
    (ngSubmit)="sendMessage(chatMessageForm)">

    <textarea name="main-chat-input" placeholder="Nachricht an #Entwicklerteam"
     required></textarea>

    <div class="d-flex message-icons">
        <div class="d-flex ai-center">
            <img class="message-hover-icon"
                [src]="hoverPlusIcon ? 'assets/img/icons/plus_blue.png' : 'assets/img/icons/plus.png'"
                (mouseenter)="hoverPlusIcon = true" (mouseleave)="hoverPlusIcon = false">
            <div class="message-hover-icon" class="icon-divider-line"></div>

            <mat-dialog-content>
                <div class="emojis-container">
                    <button mat-menu-item (click)="openDialog()">
                        <img class="message-hover-icon"
                            [src]="hoverSmileyIcon ? 'assets/img/icons/smiley_blue.png' : 'assets/img/icons/smiley.png'"
                            (mouseenter)="hoverSmileyIcon = true" (mouseleave)="hoverSmileyIcon = false">
                    </button>
                </div>
            </mat-dialog-content>

            <img class="message-hover-icon"
                [src]="hoverAtIcon ? 'assets/img/icons/at_blue.png' : 'assets/img/icons/at.png'"
                (mouseenter)="hoverAtIcon = true" (mouseleave)="hoverAtIcon = false">
        </div>
        <button class="message-send-btn" type="submit" [disabled]="loading">
            <img *ngIf="!loading" class="message-send-icon" src="assets/img/icons/arrow_send.png">
            <div *ngIf="loading" class="loading-icon"></div>
        </button>
    </div>
</form>