@import 'assets/fonts.scss';
@import '@ctrl/ngx-emoji-mart/picker';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    overflow: hidden;
    background-color: #ECEEFE;
    font-size: 18px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.j-center {
    justify-content: center;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end !important;
}

.j-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.ai-baseline {
    align-items: baseline;
}

.f-column {
    flex-direction: column;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.w-100 {
    width: 100%;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.g-40 {
    gap: 40px;
}

h2 {
    font-size: 28px !important;
    font-weight: 700 !important;
    font-family: 'Nunito', sans-serif !important;
}

b {
    font-size: 28px;
    font-weight: 800;
    margin-right: 10px;
}

.btn-container {
    display: flex;
    align-self: center;
    gap: 40px;
    margin-top: 40px;
}

.btn-primary {
    font-family: 'Nunito', sans-serif !important;
    border-radius: 50px;
    padding: 12px 25px;
    background-color: #444DF2;
    color: white;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        filter: opacity(0.7)
    }
}

.btn-secondary {
    font-family: 'Nunito', sans-serif !important;
    border-radius: 50px;
    padding: 12px 25px;
    color: #444DF2;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: 1px solid #444DF2;
    outline: none;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #444DF2;
        color: white;
    }
}

.btn-primary-medium, .btn-secondary-medium {
    padding: 8px 16px !important;
    font-size: 16px !important;
}

.btn-container-small {
    margin-top: 0 !important;
    gap: 10px !important;
}

.btn-primary-small, .btn-secondary-small {
    padding: 3px 6px !important;
    font-size: 13px !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

textarea {
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px;
}

.close-icon {
    font-weight: 600;
    top: 30px;
    right: 38px;
    z-index: 10;
    border-radius: 50px;
    padding: 8px;

    &:hover {
        background-color: #ECEEFE;
        color: #797EF3;
    }
}

.close-icon-dialog {
    top: 40px !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.mdc-dialog__surface {
    border-radius: 30px !important;
    padding: 40px;
}

.message-send-btn {
    outline: none;
    background-color: unset;
    border: none;
}

.message-send-icon {
    &:hover {
        filter: opacity(0.7)
    }
}

.loading-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: rotate .25s linear infinite;
    border: 2px solid transparent;
    border-top-color: #444DF2;
    margin-right: 7px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}