.content {
    margin-top: 30px;

    @media (max-width: 1550px) or (max-height: 750px) {
        margin-top: 20px;
    }

    @media (max-width: 700px) {
        justify-content: center;
        align-items: flex-start;
    }

    @media (max-width: 450px) {
        margin-top: 0;
    }
}

.close-icon-box {
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.close-icon {
    position: unset;
}

emoji-mart {
    @media (max-width: 450px) {
        transform: scale(0.8);
    }
}