<div class="login-dialog-content flex-center p-relative">
    <img class="logo-and-title p-absolute hide-mobile pointer" src="assets/img/logo/logo_&_name.png" [routerLink]="'/'">
    <div class="hide-desktop logo-box d-flex ai-center p-absolute animation-stop pointer" [routerLink]="'/'">
        <img class="logo" src="assets/img/logo/logo.png">
        <span>DABubble</span>
    </div>

    <mat-card class="login-card d-flex f-column ai-center">
        <form (ngSubmit)="saveNewUser()" #accountForm='ngForm' class="account-form d-flex f-column ai-center">
            <h1>Konto erstellen</h1>
            <span class="dialog-span text-center">Gib deinem Namen und deine E-mail-Adresse ein und schon hast du dein
                neues DABubble-Konto.</span>

            <div class="login-input-container d-flex ai-center j-start pointer p-relative">
                <img class="input-icon" src="assets/img/icons/person.png">
                <input [(ngModel)]="accountService.newUser.name" (ngModelChange)="accountService.checkUserName()"
                    type="text" name="name" placeholder="Name und Nachname" autocomplete="on" #nameInput="ngModel">
                <span *ngIf="!accountService.isNameValid && nameInput.dirty" class="warn p-absolute">
                    * Es sind nur Buchstaben erlaubt.
                </span>
                <span *ngIf="accountService.isNameEmpty && nameInput.dirty" class="warn p-absolute">
                    * Bitte geben sie einen Namen ein.
                </span>
            </div>

            <div class="login-input-container d-flex ai-center j-start pointer p-relative">
                <img class="input-icon" src="assets/img/icons/mail.png">
                <input [(ngModel)]="accountService.newUser.email" (ngModelChange)="accountService.checkUserEmail()"
                    type="email" name="email" placeholder="E-mail" #emailInput="ngModel">
                <span *ngIf="accountService.isExistingEmail" class="warn p-absolute">
                    * Diese E-Mail-Adresse existiert bereits.
                </span>
                <span *ngIf="!accountService.isEmailValid && !accountService.isExistingEmail && emailInput.dirty"
                    class="warn p-absolute">
                    * beispielname@email.com
                </span>
            </div>

            <div class="login-input-container d-flex ai-center j-start pointer p-relative">
                <img class="input-icon" src="assets/img/icons/lock.png">
                <input [(ngModel)]="accountService.newUser.password"
                    (ngModelChange)="accountService.checkUserPassword()" type="{{ showPassword ? 'text' : 'password' }}"
                    name="password" placeholder="Passwort" autocomplete="on" #passwordInput="ngModel">
                <img class="privacy-icon pointer"
                    [src]="showPassword ? 'assets/img/icons/password_show.svg' : 'assets/img/icons/password_hide.svg'"
                    (click)="togglePasswordVisibility()">
                <span *ngIf="!accountService.isPasswordValid && !accountService.isPasswordEmpty && passwordInput.dirty"
                    class="warn p-absolute">
                    * mindestens 8 Zeichen: a-z-A-Z-0-9
                </span>
                <span *ngIf="accountService.isPasswordEmpty && passwordInput.dirty" class="warn p-absolute">
                    * Bitte geben sie ein Passwort ein.
                </span>
            </div>

            <mat-checkbox class="custom-checkbox" color="primary" [(ngModel)]="accountService.policyAccepted"
                name="checkbox">
                <label>Ich stimme der<a [routerLink]="'/privacy-policy'"> Datenschutzerklärung </a>zu.</label>
            </mat-checkbox>

            <div class="btn-container j-end w-100">
                <button class="btn-primary" type="submit" [disabled]="
                    !accountService.isNameValid || 
                    !accountService.isEmailValid || 
                    !accountService.isPasswordValid || 
                    !accountService.policyAccepted">Weiter</button>
            </div>

            <mat-icon class="go-back-icon p-absolute pointer flex-center" (click)="cancelIntro()"
                [routerLink]="'/'">arrow_back</mat-icon>
        </form>
    </mat-card>

    <footer class="login-footer d-flex g-40">
        <span class="dialog-span policy-span pointer" [routerLink]="'/imprint'">Impressum</span>
        <span class="dialog-span policy-span pointer" [routerLink]="'/privacy-policy'">Datenschutz</span>
    </footer>
</div>