.account-form {
    gap: 30px;

    @media (max-width: 450px) {
        gap: 20px;
    }

    @media (max-height: 655px) {
        gap: 15px;
    }
}

mat-checkbox {
    display: flex;
    align-self: start;

    @media (max-width: 700px) {
        align-self: center;       
    }
}

.mat-mdc-checkbox label {
    cursor: default !important;
    margin-left: 5px;

    @media (max-width: 700px) {
        margin-left: 0;
        font-size: 13px !important;
    }
}

a {
    color: #444DF2;
    font-size: 15px;
    text-decoration: none;

    @media (max-width: 700px) {
        font-size: 13px !important;
    }
}