.channels-header {
    padding: 0 25px;
    margin-top: 25px;

    img {
        object-fit: contain;
        height: 55px;

        @media (max-width: 1550px) or (max-height: 750px) {
            height: 45px;
        }

        @media (max-width: 920px) {
            height: 55px;
        }
    }
}

.channels-headline {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 20px;
    }

    @media (max-width: 920px) {
        font-size: 24px;
    }
}

.channels-content {
    height: calc(100% - 100px);
    padding: 0 25px;

    @media (max-width: 920px) {
        padding-left: 29px;
    }

    @media (max-width: 450px) {
        padding: 0;
    }
}

.channels-section,
.direct-message-section {
    margin-top: 20px;

    @media (max-width: 920px) {
        margin-top: 25px;
    }
}

.direct-message-section {
    overflow: hidden;
}

.friends-wrapper {
    margin-top: 20px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}

.up {
    display: none;
}

.rotate {
    rotate: -90deg;
}

.channel-box {
    width: fit-content;
    margin: 8px 0 8px 27px;
    border-radius: 50px;
    padding: 4px 12px;
    text-wrap: nowrap;
    cursor: pointer;

    &:hover {
        color: #797EF3;
        background-color: #ECEEFE;

        .font-adjust {
            font-weight: 700;
        }
    }
}

.channel-open {
    color: #797EF3;
    background-color: #ECEEFE;

    .font-adjust {
        font-weight: 700;
    }
}

.add-channel-span {
    &:hover {
        background-color: white !important;
    }
}

.sub-headlines {
    font-size: 20px;
    font-weight: 800;

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 18px;
    }

    @media (max-width: 920px) {
        font-size: 20px;
    }
}

.sub-headline-hover {
    &:hover {
        color: #797EF3;

        mat-icon:last-child {
            color: black;
        }
    }
}

.new-message-icon,
.add-icon {
    border-radius: 50%;
    padding: 3px;

    &:hover {
        color: #797EF3;
        background-color: #ECEEFE;
    }

    @media (max-width:920px) {
        display: none;
    }
}

.new-message-icon {
    padding: 2px 5px 8px 5px !important;
}

mat-icon {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-adjust {
    font-size: 18px;
    font-weight: 600;

    @media (max-width: 1550px) or (max-height: 750px) {
        font-size: 16px;
    }

    @media (max-width: 920px) {
        font-size: 18px;
    }
}

.channel-name-wrap,
.user-name-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.channel-name-wrap {
    max-width: 220px;
}

.user-name-wrap {
    max-width: 180px;

    @media (max-width: 1550px) or (max-height: 750px) {
        max-width: 170px;
    }

    @media (max-width: 920px) {
        max-width: 180px;
    }
}

.ml-5-neg {
    margin-left: -5px;
}

.friends-section {
    margin-left: 23px;
    margin-top: 10px;
}

.friend-box {
    padding: 4px 16px;
    border-radius: 50px;
    text-wrap: nowrap;

    &:hover {
        color: #797EF3;
        background-color: #ECEEFE;

        .font-adjust {
            font-weight: 700;
        }
    }

    @media (max-width: 1550px) or (max-height: 750px) {
        padding: 3px 9px;
    }

    @media (max-width: 920px) {
        padding: 4px 16px;
    }
}

.friends-avatar {
    object-fit: contain;
    border-radius: 50%;
    height: 45px;
    width: 45px;

    @media (max-width: 1550px) or (max-height: 750px) {
        height: 40px;
        width: 40px;
    }

    @media (max-width: 920px) {
        height: 45px;
        width: 45px;
    }
}

.status-check {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 2px solid white;
}

.status-online {
    background-color: #92C83E;
}

.status-offline {
    background-color: #686868;
}

.status-active {
    background-color: #444DF2;
}

.channel-hl-mobile {
    @media (max-width: 920px) {
        justify-content: flex-start;
        gap: 100px;
    }
}

.divider-line {
    width: 64px;
    height: 2px;
    background-color:rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-top: 10px;

    @media (max-width: 1550px) or (max-height: 750px) {
        width: 57px;
        margin-left: 24px;
    }

    @media (max-width: 920px) {
        width: 64px;
        margin-left: 30px;
    }
}

.search-main-container {
    flex: unset;
    width: calc(100% - 40px);
}