<div class="channels-header d-flex ai-center g-20">
    <img src="assets/img/code_learning.png">
    <span class="channels-headline">Code Learning</span>
    <div class="new-message-icon flex-center pointer">
        <span class="material-symbols-outlined">
            edit_square
        </span>
    </div>
</div>
<div class="channels-content d-flex f-column">
    <div class="channels-section d-flex f-column">
        <div class="d-flex ai-center j-between">
            <div class="d-flex g-10 ai-center pointer sub-headline-hover">
                <mat-icon class="mr-10">arrow_drop_down</mat-icon>
                <span class="material-symbols-outlined ml-5-neg">
                    workspaces
                </span>
                <span class="sub-headlines">Channels</span>
            </div>
            <mat-icon class="add-icon pointer">add</mat-icon>
        </div>
        <div class="d-flex ai-center channel-box" style="margin-top: 30px;">
            <span class="material-symbols-outlined mr-10">
                tag
            </span>
            <span class="font-adjust">Entwicklerteam</span>
        </div>
        <div class="d-flex ai-center channel-box">
            <span class="material-symbols-outlined mr-10">
                tag
            </span>
            <span class="font-adjust">Officeteam</span>
        </div>
        <div class="d-flex ai-center channel-box add-channel-span">
            <mat-icon class="mr-10">add_circle_outline</mat-icon>
            <span class="font-adjust">Channel hinzufügen</span>
        </div>
    </div>
    <div class="direct-message-section" style="margin-top: 20px;">
        <div class="d-flex ai-center g-10 pointer sub-headline-hover">
            <mat-icon class="mr-10">arrow_drop_down</mat-icon>
            <span class="material-symbols-outlined ml-5-neg">
                account_circle
            </span>
            <span class="sub-headlines">Direktnachrichten</span>
        </div>
        <div class="friends-section d-flex" style="margin-top: 30px;">
            <div class="d-flex ai-center friend-box pointer">
                <div class="p-relative mr-20 d-flex">
                    <img class="friends-avatar" src="assets/img/avatar_small.png">
                </div>
                <span class="font-adjust">{{ currentUser.name }} (Du)</span>
            </div>
        </div>
        <div class="friends-section d-flex">
            <div class="d-flex ai-center friend-box pointer">
                <div class="p-relative mr-20 d-flex">
                    <img class="friends-avatar" src="assets/img/avatar_small.png">
                </div>
                <span class="font-adjust">Vorname Name</span>
            </div>
        </div>
        <div class="friends-section d-flex">
            <div class="d-flex ai-center friend-box pointer">
                <div class="p-relative mr-20 d-flex">
                    <img class="friends-avatar" src="assets/img/avatar_small.png">
                </div>
                <span class="font-adjust">Vorname Name</span>
            </div>
        </div>
        <div class="friends-section d-flex">
            <div class="d-flex ai-center friend-box pointer">
                <div class="p-relative mr-20 d-flex">
                    <img class="friends-avatar" src="assets/img/avatar_small.png">
                </div>
                <span class="font-adjust">Vorname Name</span>
            </div>
        </div>
    </div>
</div>