<div *ngIf="!screenService.tabletMode" class="channels-header d-flex ai-center g-20">
    <img src="assets/img/code_learning.png">
    <span class="channels-headline">Code Learning</span>
    <!-- <div class="new-message-icon flex-center pointer">
        <span class="material-symbols-outlined">
            edit_square
        </span>
    </div> -->
</div>

<div *ngIf="screenService.tabletMode" class="search-main-container">
    <div class="p-relative">
        <div class="search-container pointer">
            <div class="search-field d-flex ai-center" [class.search-open]="searchService.noSearchResult()"
                #searchFieldContainerMobile>
                <input [(ngModel)]="searchService.search" name="search-field"
                    (ngModelChange)="searchService.generalSearch()" placeholder="Code learning durchsuchen"
                    autocomplete="off">
                <img src="assets/img/icons/loupe.png">

                <div class="result-container">
                    <div class="result-search d-flex f-column j-start p-absolute pointer" [class.cancel-border]="!searchService.noSearchResult()">
                        <div (click)="searchService.openDirectMessage(user.data)" class="item d-flex ai-center"
                            *ngFor="let user of searchService.searchResultsName; let i = index">
                            <div class="item-content d-flex ai-center">
                                <span class="material-symbols-outlined result-icon">person</span>
                                {{ user.data.name }}
                            </div>
                            <div class="status-container-search">
                                <div [class.dot-online]="user.data.loggedIn && !accountService.getLoggedInUser().isActive && searchService.searchResultsName.length > 0"
                                    [class.dot-offline]="!user.data.loggedIn && !accountService.getLoggedInUser().isActive && searchService.searchResultsName.length > 0"
                                    [class.dot-active]="accountService.getLoggedInUser().loggedIn && user.data.isActive">
                                </div>
                            </div>
                        </div>
                        <div (click)="searchService.extractUserInformation(user.data)" class="item d-flex ai-center"
                            *ngFor="let user of searchService.searchResultsEmail; let i = index">
                            <div class="item-content d-flex ai-center">
                                <span class="material-symbols-outlined result-icon">alternate_email</span>
                                {{ user.data.email }}
                            </div>
                        </div>
                        <div (click)="searchService.openChannelArea(channel.data)" class="item d-flex ai-center"
                            *ngFor="let channel of searchService.searchResultsChannel">

                            <div class="item-content d-flex ai-center">
                                <span class="material-symbols-outlined result-icon">tag</span>
                                {{ channel.data.name }}
                            </div>
                        </div>
                        <div (click)="searchService.openThread(thread)" class="item d-flex ai-center"
                            *ngFor="let thread of searchService.searchResultsThreads; let i = index">

                            <div class="item-content d-flex ai-center">
                                <span class="material-symbols-outlined result-icon">chat</span>
                                <b class="result-channel-name-for-msg">#{{ thread.channelName }}</b> - {{ thread.content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="channels-content d-flex f-column">
    <div class="channels-section d-flex f-column">
        <div class="d-flex ai-center j-between channel-hl-mobile" style="margin-bottom: 15px;">
            <div class="d-flex g-10 ai-center pointer sub-headline-hover">
                <mat-icon [ngClass]="{'rotate': !isDropdownOpenChannel}" (click)="channelSectionToggle()"
                    class="mr-10">arrow_drop_down</mat-icon>
                <span (click)="channelSectionToggle()" class="material-symbols-outlined ml-5-neg">
                    workspaces
                </span>
                <span (click)="channelSectionToggle()" class="sub-headlines">Channels</span>
            </div>
            <mat-icon class="add-icon pointer" (click)="openAddChannel()">add</mat-icon>
        </div>

        <div [ngClass]="{'up': !isDropdownOpenChannel}">

            <div class="d-flex ai-center channel-box" *ngFor="let channel of allChannels"
                (click)="openChannelArea(channel)"
                [class.channel-open]="!channelService.noCurrentChannel && channel.id === channelService.savedChannel_ID">
                <span class="material-symbols-outlined mr-10">
                    tag
                </span>
                <span class="font-adjust channel-name-wrap">{{ channel.name }}</span>
            </div>
            <div class="d-flex ai-center channel-box add-channel-span" (click)="openAddChannel()">
                <mat-icon class="mr-10">add_circle_outline</mat-icon>
                <span class="font-adjust channel-name-wrap">Channel hinzufügen</span>
            </div>

        </div>



    </div>
    <div class="direct-message-section" style="margin-top: 20px;">
        <div class="d-flex ai-center g-10 pointer sub-headline-hover">
            <mat-icon [ngClass]="{'rotate': !isDropdownOpenDm}" (click)="dMSectionToggle()"
                class="mr-10">arrow_drop_down</mat-icon>
            <span (click)="dMSectionToggle()" class="material-symbols-outlined ml-5-neg">
                account_circle
            </span>
            <span (click)="dMSectionToggle()" class="sub-headlines">Direktnachrichten</span>
        </div>

        <div class="friends-wrapper" [ngClass]="{'up': !isDropdownOpenDm}">

            <div class="friends-section d-flex">
                <div (click)="openSelfMessage()" class="d-flex ai-center friend-box pointer"
                    [class.channel-open]="channelService.inDirectMessage && accountService.getLoggedInUser().id === currentSelectedUser_ID">
                    <div class="p-relative mr-20 d-flex">
                        <img class="friends-avatar"
                            [src]="accountService.getLoggedInUser().avatarSrc || 'assets/img/avatar_standard_(1).png'"
                            (error)="accountService.handleImageError($event, 'assets/img/avatar_standard_(1).png')">
                        <div class="status-check" [class.status-online]="colorGreen" [class.status-offline]="colorGray"
                            [class.status-active]="colorBlue">
                        </div>
                    </div>
                    <span class="font-adjust user-name-wrap">{{ getFirstName(accountService.getLoggedInUser().name) }}
                        (Du)</span>
                </div>
            </div>

            <div class="divider-line"></div>

            <div class="friends-section d-flex" *ngFor="let user of allUsers">
                <div (click)="openDirectMessage(user)" class="d-flex ai-center friend-box pointer"
                    [class.channel-open]="channelService.inDirectMessage && user.id === currentSelectedUser_ID">
                    <div class="p-relative mr-20 d-flex">
                        <img class="friends-avatar" [src]="user.avatarSrc || 'assets/img/avatar_standard_(1).png'"
                            (error)="accountService.handleImageError($event, 'assets/img/avatar_standard_(1).png')">
                        <div class="status-check" [class.status-online]="user.loggedIn && !user.isActive"
                            [class.status-offline]="!user.loggedIn && !user.isActive"
                            [class.status-active]="user.loggedIn && user.isActive"></div>
                    </div>
                    <span class="font-adjust user-name-wrap">{{ user.name }}</span>
                </div>
            </div>
        </div>

    </div>
</div>